<section>
	<h2 mat-dialog-title>
		Tutorial
	</h2>
	<mat-dialog-content class="mat-typography no-scroll-correction" style="overflow: scroll !important;">
		<video controls autoplay loop muted playsinline preload="auto" (click)="playFullscreen($event)">
			<source src="./tuto-avif.mp4" type="video/mp4">
			<source src="./tuto-x265.mp4" type="video/mp4">
			<source src="./tuto-webm.webm" type="video/webm">
			<source src="./tuto-x264.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-stroked-button mat-dialog-close>Ok</button>
	</mat-dialog-actions>
</section>