<section>
	<h2 mat-dialog-title>
		Importar Datos
	</h2>
	<mat-dialog-content class="mat-typography no-scroll-correction">
		<ul style="list-style-type: none;">
			<li>● Para realizar la importación de los datos presiona el botón "importar datos ahora".</li>
			<li>● En el diálogo de archivos, busca el archivo que contiene los datos y seleccionalo.</li>
		</ul>
		<br>
		<strong>⚠️ IMPORTANTE: los datos serán combinados y las fechas que ya están registradas no serán
			modificadas.</strong>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-stroked-button mat-dialog-close>Cancelar</button>
		<button mat-stroked-button color="primary" [mat-dialog-close]="true" cdkFocusInitial><span>Importar
				datos ahora</span></button>
	</mat-dialog-actions>
</section>