<router-outlet></router-outlet>
<div class="center-share-page">
	<button mat-raised-button (click)="exportData()">Exportar Datos</button>
	<button mat-raised-button (click)="importData()">Importar Datos</button>
	<button mat-raised-button (click)="sharePage()">Compartir esta página</button>
</div>

<div class="center-share-page">
	<details>
		<summary>Eliminar datos</summary>
		<br>
		<button mat-raised-button (click)="clearData()">Eliminar Todos los Datos</button>
	</details>
</div>

<mat-toolbar class="footer">
	<span>&#169;{{currentYear}}</span>
	<span>{{currentAppVersion}}-{{currentAppVersionDate | date : 'yyyyMMdd'}}.{{envBuildCounter}}</span>
	<span>&#64;EdisMR</span>
</mat-toolbar>