header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

h1 {
	margin: 30px 0;
	color: #006dc6;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.mat-title-activity {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.card-table-container {
	width: clamp(470px, 80%, 600px);
	padding-bottom: 30px;
}

.months-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
	flex-wrap: nowrap;
	margin-bottom: 20px;
	padding-bottom: 30px;
}

.min-visual-display {
	min-height: 62vh;
}

.actions-btn-container {
	button:not(:last-child) {
		margin-right: 20px;
	}
}

.no-registry-title{
	color: #7c7c7c;
}

@media screen and (max-width: 600px) {
	.months-container {
		overflow: scroll;
		align-items: flex-start;
		padding-left: 10px;
		padding-right: 10px;
	}

	h1 {
		font-size: 23px;
	}
}