// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$prod-hrs-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0, )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($prod-hrs-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($prod-hrs-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($prod-hrs-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px, rgba(0, 0, 0, 0.03) 13px, rgba(0, 0, 0, 0.03) 24px, transparent 24px, transparent 62px, rgba(0, 0, 0, 0.03) 62px, rgba(0, 0, 0, 0.03) 96px), repeating-radial-gradient(circle at center center, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 14px, rgb(255, 255, 255) 14px, rgb(255, 255, 255) 18px, rgb(255, 255, 255) 18px, rgb(255, 255, 255) 28px, rgb(255, 255, 255) 28px, rgb(255, 255, 255) 32px);
  background-size: 21px 21px;
  user-select: none;
  scroll-behavior: smooth;
}

.mat-mdc-card-header-text {
  width: 100% !important;
}

.mat-mdc-card-title {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
}

.text-bg-gradient {
  background: rgb(177, 98, 230);
  background: -moz-linear-gradient(45deg, rgba(177, 98, 230, 1) 0%, rgba(18, 67, 158, 1) 7%, rgba(177, 98, 230, 1) 12%, rgba(18, 67, 158, 1) 18%, rgba(177, 98, 230, 1) 27%, rgb(247, 255, 129) 31%, rgba(177, 98, 230, 1) 35%, rgba(18, 67, 158, 1) 44%, rgba(177, 98, 230, 1) 50%, rgba(18, 67, 158, 1) 55%, rgba(177, 98, 230, 1) 60%, rgba(18, 67, 158, 1) 67%, rgba(255, 255, 255, 0.7749474789915967) 71%, rgba(18, 67, 158, 1) 75%, rgba(177, 98, 230, 1) 83%, rgba(18, 67, 158, 1) 89%, rgba(177, 98, 230, 1) 95%, rgba(18, 67, 158, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(177, 98, 230, 1) 0%, rgba(18, 67, 158, 1) 7%, rgba(177, 98, 230, 1) 12%, rgba(18, 67, 158, 1) 18%, rgba(177, 98, 230, 1) 27%, rgb(247, 255, 129) 31%, rgba(177, 98, 230, 1) 35%, rgba(18, 67, 158, 1) 44%, rgba(177, 98, 230, 1) 50%, rgba(18, 67, 158, 1) 55%, rgba(177, 98, 230, 1) 60%, rgba(18, 67, 158, 1) 67%, rgba(255, 255, 255, 0.7749474789915967) 71%, rgba(18, 67, 158, 1) 75%, rgba(177, 98, 230, 1) 83%, rgba(18, 67, 158, 1) 89%, rgba(177, 98, 230, 1) 95%, rgba(18, 67, 158, 1) 100%);
  background: linear-gradient(45deg, rgba(177, 98, 230, 1) 0%, rgba(18, 67, 158, 1) 7%, rgba(177, 98, 230, 1) 12%, rgba(18, 67, 158, 1) 18%, rgba(177, 98, 230, 1) 27%, rgb(249, 255, 166) 31%, rgba(177, 98, 230, 1) 35%, rgba(18, 67, 158, 1) 44%, rgba(177, 98, 230, 1) 50%, rgba(18, 67, 158, 1) 55%, rgba(177, 98, 230, 1) 60%, rgba(18, 67, 158, 1) 67%, rgba(255, 255, 255, 0.7749474789915967) 71%, rgba(18, 67, 158, 1) 75%, rgba(177, 98, 230, 1) 83%, rgba(18, 67, 158, 1) 89%, rgba(177, 98, 230, 1) 95%, rgba(18, 67, 158, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b162e6", endColorstr="#12439e", GradientType=1);
  background-size: 600vw auto;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-clip: text;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bg-movement 50s linear infinite;
}

@keyframes bg-movement {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}